* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    justify-content: center;
    background: #271F4C ;
    background-size: cover;
    background-position: center;
}

.selection {
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-self: center;
}

.selection button {
    width: 120px;
    height: 50px;
    column-count: 2;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    text-decoration: underline;
    color: #1E173B;
}