* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #271F4C ;
    background-size: cover;
    background-position: center;
}

.selection {
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.selection button {
    width: 120px;
    height: 50px;
    column-count: 2;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    text-decoration: underline;
    color: #1E173B;
}

.wrapper {
    display: block;
    background: blue;
    max-width: 70% ;
    padding: 25px 50px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.wrapper img {
    width: 500px;
    height: auto;
    padding: 15px;
}

.wrapper img:hover {
    width: 510px;
    height: auto;
    outline: solid 5px red;
    transition: all 0.08s ease;
}